@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins&family=Roboto:wght@100&display=swap');
@media screen and (max-width: 1023px) {
    .first-page {
        &-container {
            animation: gradient 5s ease infinite;
            height: 100%;
            width: 100%;
            border-radius: 0 0 100% 0%/ 0 0 45% 20%;
            background: linear-gradient(
                134.21deg,
                #01ecfb 1.34%,
                #8310f5 99.49%
            );
            &-base {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                padding: 70px 20px 70px;
                &-info {
                    &-title {
                        text-align: center;
                        align-items: center;
                        flex-direction: column;
                        display: flex;

                        &-text {
                            font-weight: 400;
                            line-height: 1.2;
                            font-size: 20px;
                            width: 70%;
                            margin-bottom: 20px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                    &-img {
                        &-profile {
                            display: flex;
                            justify-content: center;
                            align-content: stretch;
                            z-index: 2;
                            &-image {
                                border-image: url('../../Assets/phone-firstpage/border.png');
                                border: 10px solid transparent;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .first-page {
        &-container {
            height: 100%;
            width: 100%;
            background-size: 150px;
            background: linear-gradient(
                134.21deg,
                #01ecfb 1.34%,
                #8310f5 99.49%
            );
            &-base {
                font-family: 'Poppins', sans-serif;
                padding: 70px 20px 70px;
                &-info {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-evenly;
                    &-title {
                        text-align: center;
                        align-items: flex-start;
                        flex-direction: column;
                        display: flex;
                        &-text {
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-weight: 400;
                            line-height: 1.5;
                            font-size: 50px;
                            width: 80%;
                            text-align: center;
                            color: #fff;
                        }
                    }
                    &-img {
                        &-profile {
                            display: flex;
                            justify-content: center;
                            align-content: flex-end;
                            padding: 100px;
                            &-image {
                                border-image: url('../../Assets/phone-firstpage/border.png');
                                border: 10px solid transparent;
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
