.six {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #206fb8;
    font-family: 'Poppins', sans-serif;
    &-container {
        &-contact {
            &-title {
                font-weight: 200;
            }
            &-img {
                display: none;
            }
            &-text {
                font-weight: 200;
            }
        }
        &-social {
            &-image {
                width: 100%;
                max-width: 50px;
                padding: 20px;
            }
        }
    }
}
