$home: #05386b;
$twitter: #379683;
$codepen: #5cdb95;
$github: #8ee4af;
$background: #edf5e1;
$shadow: #cccccc;
$illumination: #fdc6be;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.navbar-container {
    &-desktop {
        display: flex;
        justify-content: space-between;
        &-content {
            display: inline-flex;
            justify-content: flex-end;
            padding: 0;
            &-image {
                height: 50%;
                top: 13px;
            }
            &-title {
                font-size: 20px;
                background: -webkit-linear-gradient(#115faf, #4dd1dc);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
