@media screen and (max-width: 1023px) {
    .five {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(134.24deg, #003ea3 20.64%, #50d5de 94.38%);
        &-container {
            &-title {
                &-text {
                    font-weight: 200;
                    font-size: 25px;
                }
            }
            &-projects {
                &-project {
                    width: 100%;
                    max-width: 300px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .five {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(134.24deg, #003ea3 20.64%, #50d5de 94.38%);
        &-container {
            &-title {
                &-text {
                    font-weight: 200;
                    font-size: 35px;
                }
            }
            &-projects {
                display: flex;
                &-project {
                    width: 100%;
                    margin: 40px;
                    max-width: 500px;
                }
            }
        }
    }
}
.on-hover {
    display: flex;
    justify-content: center;
    &-image {
        width: 30%;
    }
    &-text {
    }
}
